* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.grid_container {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "header header header"
    "sidebar grilla grilla"
    "footer footer footer";

  grid-template-columns: 180px 1fr;
  grid-template-rows: 100px 1fr 80px;

  .header {
    background-color: aqua;
    grid-area: header;
  }

  .sidebar {
    background-color: green;
    grid-area: sidebar;
  }

  .grilla {
    background-color: purple;
    grid-area: grilla;
  }

  .footer {
    background-color: red;
    grid-area: footer;
  }
}
